@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
}

::selection {
    color: #7C40FF;
    background: #000;
  }
    

body{
    background:  #7C40FF;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 70vw;
    border-radius: 20px;
    background: rgba( 255, 255, 255, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #fff;
}

.copyBox{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    flex-direction: column;
}

#copyBtn{
    color: #000;
    padding: 2vh;
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border-radius: 0px 20px 0px 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    outline: none;
    cursor: pointer;
    font-weight: 900;
}

.quoteSignLeft{
    font-size: 4rem;
    margin-left: 3vw;
    color: #000;
}

.quote{
    margin: 1vh 10vw;
    font-size: 2.5rem;
    word-spacing: 2px;
    height: 40vh;
    display: flex;
    align-items: center;
}

.quoteSignRight{
    font-size: 4rem;
    margin-right: 3vw;
    text-align: right;
    color: #000;
}

.author{
    text-align: right;
    margin: 2vh 2vw;
    font-size: 1rem;
}

#nextQuote{
    width: 100%;
    color: #000;
    padding: 2vh;
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border-radius: 0px 0px 20px 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    outline: none;
    cursor: pointer;
    font-weight: 900;
    margin-top: 3vh;
}

#copyBtn:hover, #nextQuote:hover{
    color: #7C40FF;
    background-color: #000;
}

/* responsive css */
@media only all and (max-width: 650px){
    .container{
        width: 90vw;
    }
    .quote{
        font-size: 2rem;
    }
}

@media only all and (max-width: 500px){
    .quote{
        font-size: 1.7rem;
    }
}

@media only all and (max-width: 400px){
    .quote{
        font-size: 1.3rem;
    }
}
